body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    background-color: rgb(218, 218, 186);
    color: black;
}
p{
    text-transform: capitalize;
    font-size: 18px;
}
li{
    font-size: 20px;
}
h1,h2,h3,h4,h5,h6{
    text-align: center;
}
textarea{
    width: 100%;
    padding: 10px;
    padding-left: 5px;
    height: 300px;
    border: none;
    border-radius: 12px;
    outline: none;
    text-align: justify;
}
button{
    width: 100%;
    height: 30px;
    background-color: aqua;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    text-transform:capitalize ;
    font-size: 18px;
    box-shadow: 0 0px 5px white;
}